@import url("https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@400;600&display=swap");
.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  max-width: 550px;
  overflow: hidden;
}

.view > [class*="c-"], .view > [class*="mu-"], .view > [class*="lu-"], .view > [class*="xu-"] {
  display: block;
  width: 100%;
  overflow: hidden;
}

.view .c-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.view .c-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.view .c-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.view .c-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.view .c-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.view .c-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.view .c-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.view .c-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.view .c-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.view .c-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.view .c-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.view .c-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  .view {
    max-width: 570px;
  }
}

@media (min-width: 760px) {
  .view {
    max-width: 730px;
  }
  .view > .mu-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .view > .mu-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .view > .mu-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .view > .mu-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .view > .mu-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .view > .mu-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .view > .mu-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .view > .mu-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .view > .mu-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .view > .mu-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .view > .mu-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .view > .mu-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .view {
    max-width: 930px;
  }
}

@media (min-width: 1200px) {
  .view {
    max-width: 1150px;
  }
}

.nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 5000;
}

.nav .head {
  padding: 5px;
  background-color: white;
}

.nav .toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.nav .toggle > .bar {
  height: 2px;
  width: 100%;
  border-radius: 5px;
  background-color: gray;
}

.nav .toggle > .bar:nth-of-type(2) {
  width: 66%;
}

@media (min-width: 760px) {
  .nav {
    position: absolute;
    padding: 10px;
  }
  .nav .head {
    display: inline-block;
    background-color: transparent;
  }
  .nav .toggle {
    display: none;
  }
}

.nav-menu {
  z-index: 5000;
  height: 0;
  width: 100%;
  overflow: hidden;
  list-style: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgray));
  background-image: linear-gradient(to bottom, white, lightgray);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.nav-menu li {
  padding: 0px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.nav-menu li a {
  font-size: 1.5rem;
  color: gray;
}

.nav-menu.open {
  opacity: 1;
  height: 100vh;
  padding-top: 55px;
}

.nav-menu.open li {
  padding: 10px;
}

@media (min-width: 760px) {
  .nav-menu {
    display: inline-block;
    height: auto !important;
    width: 70%;
    float: right;
    text-align: right;
    background-image: none;
    opacity: 1;
    padding-top: 5px;
  }
  .nav-menu li {
    display: inline-block;
    margin: 10px;
  }
  .nav-menu li a {
    font-size: 1.2rem !important;
  }
}

.nav .toggle .bar {
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav .toggle .bar:nth-of-type(1) {
  top: 10px;
  right: 0px;
  opacity: 1;
}

.nav .toggle .bar:nth-of-type(2) {
  left: 0px;
  top: 20px;
  opacity: 1;
}

.nav .toggle .bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  top: 100px;
  left: 100px;
}

.nav .toggle .bar:nth-of-type(4) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
  top: -100px;
  left: 100px;
}

.nav .open.toggle .bar:nth-of-type(1) {
  right: 100px;
  opacity: 0;
}

.nav .open.toggle .bar:nth-of-type(2) {
  left: 100px;
  opacity: 0;
}

.nav .open.toggle .bar:nth-of-type(3) {
  top: 10px;
  left: 0px;
  opacity: 1;
}

.nav .open.toggle .bar:nth-of-type(4) {
  top: 9px;
  left: -1px;
  opacity: 1;
}

input {
  height: 30px;
  border: 1px solid gainsboro;
  border-radius: 25px;
  background: whitesmoke;
  padding: .25rem .75rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  height: 30px;
  padding: .25rem .75rem;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 25px;
  min-width: 50px;
  font-size: .75rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: whitesmoke;
  border-color: transparent;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5 {
  font-family: "Quicksand", sans-serif !important;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.coming-soon > h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin: auto;
  -webkit-animation: fade-in 1.5s ease-in-out, glow 5s ease-in-out infinite;
          animation: fade-in 1.5s ease-in-out, glow 5s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.coming-soon > h1 > span {
  font-weight: bold !important;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at bottom, #204060 0%, #369 100%);
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px;
}

hr {
  width: 80%;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 1;
    margin-top: 0px;
  }
  to {
    opacity: 0;
    margin-top: 300px;
  }
}

@keyframes fade-in {
  from {
    opacity: 1;
    margin-top: 0px;
  }
  to {
    opacity: 0;
    margin-top: 300px;
  }
}

@-webkit-keyframes glow {
  from {
    color: white;
  }
  to {
    color: whitesmoke;
  }
}

@keyframes glow {
  from {
    color: white;
  }
  to {
    color: whitesmoke;
  }
}
